.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
}

.mainWrapper {
  align-self: center;
  width: 700px;
  height: 391px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 21px;
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.mainImageCircle {
  border-radius: 50%;
  cursor: pointer;
}

.mainText {
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

.loginSignupContainer {
  background-color: #ffffff;
  width: 389px;
  height: 425px;
  position: relative;
  top: -17px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00000029;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline {
  background-color: #a03037;
  width: 1.230rem;
  height: 0.230rem;
  border-radius: 25%;
  margin-left: 1.900rem;
}
.loginSignup {
  width: 249px;
  height: 367px;
}

.loginSignUpText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.loginsignuptxt {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.actualLoginSignup {
  height: 100%;
  width: 100%;
}
